.ftiHidden {
    display: none;
}

.ftiBlock {
    display: block;
}

.ftiParentDiv {
    position: relative;
    display: block;
}

.ftiProgressBar {
    width: 80%;
    height: 30px;
}

.ftiFormat {
    position: relative;
    display: block;
    width: auto;
    border: 1px solid black;
}

.ftiImportButton {
    width: 200px;
    height: 50px;
}

.ftiImportButtonDiv {
    clear: both;
    padding: 20px;
}

.ftiErrorDiv {
    color: red;
}

.ftiOutputDiv {
    color: darkblue;
}

.ftiTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ftiTable thead tr {
    background-color: #5293c6;
    color: #ffffff;
    text-align: left;
}

.ftiTable th,
.ftiTable td {
    padding: 12px 15px;
}

.ftiTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ftiTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ftiTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.ftiTable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}