.ftiMain {
	margin: 1rem;
}

#ftiParentDiv {
   width: 100%;
}

.ftiFieldGroup {
   display: inline-block;
   width: 100%;
   padding-top: 1.5rem;
   padding-left: 1rem;
}

.ftiFieldGroup label {
   display: inline-block;
   min-width:40%;
   max-width: 40%;
}

.ftiDropdown {
   width: 300px;
}

.ftiHidden {
   display: none;
}

.ftiProgressBar {
   width: 80%;
   height: 30px;
}

.ftiSuccess {
   font-size: 14px;
   color: green;
}

.ftiFailed {
   font-size: 14px;
   color: red;
}

.ftiImportButton {
   width: 200px;
   height: 50px;
}

.ftiResetButton {
   width: 200px;
   height: 50px;
}

.ftiImportButtonDiv {
   clear: both;
   padding: 1rem;
}

.ftiRed {
   color: red;
}

.ftiSummaryTable {
   font-size: 14px;
   font-weight: bold;
}

.ftiTable {
   table-layout: fixed;
   width: 100%;
   border: 1px solid grey;
}

.ftiTable thead tr {
   background-color: #ecf0ef;
   text-align: left;
}

.ftiTable th,
.ftiTable td {
   padding: 12px 15px;
   word-wrap: break-word;
   max-width: 50%;
}

.ftiTable tbody tr {
   border-bottom: 1px solid #dddddd;
}

.ftiTable tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}